
/* general-style */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

/* app container */

.app {
  display: flex;
  height: 100vh;
  background-color: grey;
  flex-direction: column;
  overflow: hidden;
}

/* upper container main content */

.main-content {
  display: flex;
  background: teal;
  flex-grow: 1;
}

/* .sidebar */

.sidebar {
  display: flex;
  background: maroon;
  flex-basis: 230px;
}

.account {
  width: 100%;
  height: 80px;
  align-self: flex-end;
}

/* content right */

.content {
  position: relative;
  flex-grow: 1;
  background: mediumseagreen;
}

/* topnav */

.topnav {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  background: rgb(135, 135, 158);
  z-index: 1;
}

/* scrollable */

.menu-nav {
  background: mistyrose;
}

.scrollable {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  padding-top: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background: olive;
  overflow-y: auto;
}

.scrollable .titles .content-title {
  height: 200px;
  width: 300px;
  margin: 10px;;
  background: lightsalmon;
}

/* footer */

.player {
  background: orange;
  z-index: 1;
}





